{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ post.title }}
{% endblock %}
{% block content %}


    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h4>chronicle Details</h4>
                            <h2>{{ post.title }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>




    <section class="blog-posts grid-system">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <img src="{{ post.image.url }}" alt="">
                                    </div>
                                    <div class="down-content">
                                        <span>{{ post.category.first }}</span>
                                        <a><h4>{{ post.title }}</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">{{ post.author }}</a></li>
                                            <li><a href="#">{{ post.created_at }}</a></li>
                                            <li><a href="#"></a></li>
                                        </ul>
                                        <p> {{ post.body }} </p>
                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-6">
                                                    <ul class="post-tags">
                                                        {% if is_like %}
                                                            <li>
                                                                <a href="{% url 'chronicle:like' post.slug post.id %}"
                                                                   class="like-btn liked">
                                                                    <i class="fa fa-heart"></i>
                                                                    <span>{{ post.like.all.count }}</span>
                                                                </a>
                                                            </li>
                                                        {% else %}
                                                            <li>
                                                                <a href="{% url 'chronicle:like' post.slug post.id %}"
                                                                   class="like-btn">
                                                                    <i class="fa fa-heart-o"></i>
                                                                    <span>{{ post.like.all.count }}</span>
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                                <div class="col-6">
                                                    <ul class="post-share">
                                                        <li><i class="fa fa-share-alt"></i></li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item comments">
                                    <div class="sidebar-heading">
                                        <h2>
                                            <i class="fa fa-comments"></i>
                                            {{ post.comments.count }} Comments
                                        </h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            {% for comment in post.comments.all %}
                                                {% if comment.parent == None %}
                                                    <li>
                                                        <div class="author-thumb">
                                                            {% if comment.user.profile.image %}
                                                                <img src="{{ comment.user.profile.image.url }}"
                                                                     width="38"
                                                                     height="38"
                                                                     style="border-radius:50%;object-fit:cover;margin-right:8px;">
                                                            {% else %}
                                                                <img src="{% static "images/icons/imgpro.png" %}"
                                                                     width="38"
                                                                     height="38"
                                                                     style="border-radius:50%;object-fit:cover;margin-right:8px;">
                                                            {% endif %}
                                                        </div>
                                                        <div class="right-content">
                                                            <h4>{{ comment.user.get_full_name }}
                                                                {% if comment.user == post.author %}
                                                                    <span class="author-badge">AUTHOR</span> {% endif %}
                                                                <span>{{ comment.created_at }}</span>
                                                            </h4>
                                                            <div class="comment-body-row">

                                                            <span class="comment-body">
                                                            {{ comment.body }}
                                                            </span>

                                                                <button class="reply-btn"
                                                                        onclick="set_value({{ comment.id }})">
                                                                    <i class="fa fa-reply"></i>
                                                                    Reply
                                                                </button>

                                                            </div>


                                                        </div>
                                                    </li>



                                                    {% for reply in comment.replies.all %}
                                                        <li class="replied">
                                                            <div class="author-thumb">
                                                                {% if reply.user.profile.image %}
                                                                    <img src="{{ reply.user.profile.image.url }}"
                                                                         width="38"
                                                                         height="38"
                                                                         style="border-radius:50%;object-fit:cover;margin-right:8px;">
                                                                {% else %}
                                                                    <img src="{% static "images/icons/imgpro.png" %}"
                                                                         width="38"
                                                                         height="38"
                                                                         style="border-radius:50%;object-fit:cover;margin-right:8px;">
                                                                {% endif %}
                                                            </div>
                                                            <div class="right-content">
                                                                <h4>{{ reply.user.get_full_name }}<span>{{ reply.created_at }}</span>
                                                                </h4>
                                                                <p>{{ reply.body }}</p>
                                                            </div>
                                                        </li>

                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item submit-comment">
                                    <div class="sidebar-heading">
                                        <h2>Your comment</h2>
                                    </div>
                                    <div class="content">
                                        <form id="comment" action="#" method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                <input type="hidden" id="parent_id" name="parent_id" value="">
                                                <div class="col-lg-12">
                                                    <fieldset>
                                                        <textarea name="body" rows="6" id="body"
                                                                  placeholder="Type your comment"
                                                                  required=""></textarea>
                                                    </fieldset>
                                                </div>
                                                <div class="col-lg-12">
                                                    <fieldset>
                                                        <button type="submit" id="form-submit" class="main-button">
                                                            Submit
                                                        </button>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include "includes/sidebar.html" %}
            </div>
        </div>
    </section>
    <script>
        function set_value(id) {
            document.getElementById('parent_id').value = id;
            window.location.href = "#body"
        }
    </script>

{% endblock %}