{% load static %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="social-icons">
                    <li>
                        <a href="https://t.me/Mamad3310" target="_blank">
                              <i class="fa fa-send"></i>
                            Telegram
                        </a>
                    </li>

                    <li>
                        <a href="https://ble.ir/mamad90901" target="_blank">
                            <i class="fa fa-comment"></i>
                            Bale
                        </a>
                    </li>

                    <li>
                        <a href="https://wa.me/9900440295" target="_blank">
                            <i class="fa fa-whatsapp"></i>
                            WhatsApp
                        </a>
                    </li>
                </ul>
            </div>
        </div>
</footer>
